# Vivado temporary files
project_1/*.cache/
project_1/*.hw/
project_1/*.ip_user_files/
project_1/*.runs/
project_1/*.sim/
project_1/*.gen/
project_1/*.srcs/utils_1/

# Vivado logs and journals
*.log
*.jou
*.pb
*.vsp
*.str
.Xil/

# Webtalk
usage_statistics_webtalk.html
usage_statistics_webtalk.xml
webtalk.log
webtalk.jou
